
@{
    ViewBag.Title = "Главная";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}



<div class="jumbotron">
    <center><h1>Добро пожаловать</h1></center>

    @*<p class="lead">Вы находитесь на мабильной версии приложения,некоторые функции будут недоступны</p>*@
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="col-lg-4">
        <h2>Метод Гаусса</h2>
       <p>Метод Гаусса- классический метод решения системы линейных алгебраических уравнений (СЛАУ). </p>
        <p><a class="btn btn-primary" href="@Url.Action("Gaus", "Methods")" role="button">Подробнее &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Метод простой итерации</h2>
        <p>Один из простейших численных методов  решения уравнений . Метод основан на принципе сжимающего отображения , который применительно к численным методам в общем виде также может называться методом простой итерации или методом последовательных приближений</p>
        <p><a class="btn btn-primary" href="@Url.Action("SimpleIteration", "Iteration")" role="button">Подробнее &raquo;</a></p>
    </div>

    <div class=" col-lg-4">
        <h2>Метод Ньютона</h2>
        <p>Метод Ньютона — это итерационный численный метод нахождения корня (нуля) заданной функции.Поиск решения осуществляется путём построения последовательных приближений и основан на принципах простой итерации.</p>
        <p><a href="@Url.Action("Newton", "Iteration")" class="btn btn-primary" role="button">Подробнее &raquo;</a></p>
    </div><!--/.col-xs-6.col-lg-4-->
</div>

<hr />
<center>
    @if (!User.Identity.IsAuthenticated)
    {
        <a href="@Url.Action("Login", "Users")" class="btn btn-primary " role="button">Войти</a>
        <a href="@Url.Action("Register", "Users")" class="btn btn-primary " role="button">Регистрация</a>
        <hr />
    }
    else
    {
        <a href="@Url.Action("ChangeUsersPassword", "Users")" class="btn btn-primary " role="button">Изменить пароль</a>
        <a href="@Url.Action("Logout", "Users")" class="btn btn-primary " role="button">Выйти</a>
        <hr />
    }
</center>







<style>
    div.jumbotron {

        background-image: url('../../Content/hq-wallpapers_ru_funny_13844_1920x1200.jpg');
        -moz-background-size: 100%; /* Firefox 3.6+ */
        -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%; /* Opera 9.6+ */
        background-size: 100%; /* Современные браузеры */
    }
</style>
