
@{
    ViewBag.Title = "Главная";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/maths-1280x800.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="hello">Добро пожаловать на MathCalculator</h1>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <p>Пожалуйста войдите в свою учётную запись либо зарегистрируйтесь</p>
                        <p><a class="btn btn-lg btn-primary" href="@Url.Action("Login", "Users")" role="button">Войти</a>
                            <a class="btn btn-lg btn-primary" href="@Url.Action("Register", "Users")" role="button">Регистрация</a>
                        </p>
                    }
                    else
                    {
                        <p>Вы вошли на сайт под именем <b>@User.Identity.Name</b>
                        </p>
                        <br/> <br/> <br/>
                    }
                </div>
            </div>
        </div>
      
        <div class="item">
            <img src="~/Content/hq-wallpapers_ru_funny_13844_1920x1200.jpg" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Метод хорд</h1>
                    <p class="text-success">
                        Решите уравнение f(x) = 0 методом хорд онлайн всего за несколько секунд:))
                    </p>
                    <p><a class="btn btn-lg btn-primary" href="@Url.Action("Chord", "Methods")" role="button">Подробнее</a></p>
                </div>

            </div>
        </div>

        <div class="item">
            <img src="~/Content/ZvqE2wp2kw-1680x1050.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                            <h1>Не нужно усложнять!!!</h1>
                    <p>Ведь можно решить уравнения методом Ньютона за несколько секунд!</p>
                    <p><a class="btn btn-lg btn-primary" href="@Url.Action("Newton", "Methods")" role="button">Подробнее</a></p>
                </div>
            </div>
        </div>

        <div class="item">
            <img src="~/Content/school-newsletter-ideas-for-parents-716.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Вы ещё считаете производные и интегралы вручную?!!!</h1>
                    <p>Воспользуйтесь нашим онлайн-калькулятором</p>
                    <p><a class="btn btn-lg btn-primary" href="@Url.Action("MathCalc", "Methods")" role="button">Подробнее</a></p>
                </div>
            </div>
        </div>
       
        <div class="item">
            <img src="~/Content/imafe3.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Метод Гаусса</h1>
                    <h3>
                        <span>С помощью нашего сервиса вы научитесь решать СЛАУ методом Гаусса и другими</span>
                    </h3>
                    <p><a class="btn btn-lg btn-primary" href="@Url.Action("Gaus", "Methods")" role="button">Подробнее</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Предыдущий</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Следующий</span>
    </a>
</div><!-- /.carousel -->



<!-- Example row of columns -->
<div class="row">
    <div class="col-lg-4">
        <h2>Онлайн-калькулятор</h2>
       <p>Math - отличный онлайн-калькулятор с негораниченными возможностями. С помощью данного калькулятора можно находить производные, пределы и т.д </p>
        <p><a class="btn btn-primary" href="@Url.Action("MathCalc", "Methods")" role="button">Подробнее &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Метод простой итерации</h2>
        <p>Один из простейших численных методов  решения уравнений . Метод основан на принципе сжимающего отображения , который применительно к численным методам в общем виде также может называться методом простой итерации или методом последовательных приближений</p>
        <p><a class="btn btn-primary" href="@Url.Action("SimpleIteration", "Methods")" role="button">Подробнее &raquo;</a></p>
    </div>

    <div class=" col-lg-4">
        <h2>Метод Ньютона</h2>
        <p>Метод Ньютона — это итерационный численный метод нахождения корня (нуля) заданной функции.Поиск решения осуществляется путём построения последовательных приближений и основан на принципах простой итерации.</p>
        <p><a href="@Url.Action("Newton", "Methods")" class="btn btn-primary" role="button">Подробнее &raquo;</a></p>
    </div><!--/.col-xs-6.col-lg-4-->
</div>


<style>
    .hello {}
</style>