@using System.IO
@model MathСalculator.WebUI.Models.SimpleIterationModel
@{
    ViewBag.Title = "Метод простой итерации";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


@*@{Html.EnableClientValidation();}
@{Html.EnableUnobtrusiveJavaScript();}*@

<h2 class="myh2"><strong>Метод простой итерации</strong></h2>

    <hr />
    <p>
        <span class="absat">это один из простейших численных методов</span>
        <span class="span1">&nbsp;решения уравнений</span>
        <span class="span1">. Метод основан на принципе сжимающего отображения</span>
        <span class="span1">, который применительно к численным методам в общем виде также может называться методом простой итерации или методом последовательных приближений</span>
        <span class="span1">. В частности, для систем линейных алгебраических уравнений существует аналогичный метод итерации</span>
        <span class="span1">.</span>
    </p>

    <h2 class="myh2">&nbsp;</h2>


    <h2 class="myh2"><strong><span class="mw-headline">Идея метода</span></strong></h2>

    <hr />
    <p class="absat">
        Идея метода простой итерации состоит в том, чтобы уравнение&nbsp;
        <img alt=" f(x)=0" class="mwe-math-fallback-image-inline tex"
             src="https://upload.wikimedia.org/math/f/d/0/fd05d8d90456c441c8f10641bd8576bc.png" />&nbsp;привести к эквивалентному уравнению
    </p>

    <dl class="mydl">
        <dd class="mydd">
            <dl class="mydl">
                <dd class="mydd">
                    <img alt="x=\varphi(x)" class="mwe-math-fallback-image-inline tex"
                         src="https://upload.wikimedia.org/math/f/0/2/f02b69b0cb22f5900051cfc46845c093.png" />,
                </dd>
            </dl>
        </dd>
    </dl>

    <p class="absat">
        так, чтобы отображение&nbsp;
        <img alt="\varphi(x)" class="mwe-math-fallback-image-inline tex"
             src="https://upload.wikimedia.org/math/c/c/3/cc37bce6e65d21dc2f4bbe7b1fb396f2.png" />
        &nbsp;было сжимающим. Если это удаётся, то последовательность итераций&nbsp;
        <img alt="x_{i+1}=\varphi(x_i)" class="mwe-math-fallback-image-inline tex"
             src="https://upload.wikimedia.org/math/8/1/b/81b0817a4556c7aa02a200b2ff873fb7.png" />
        &nbsp;сходится. Такое преобразование можно делать разными способами. В частности, сохраняет корни уравнение вида
    </p>

    <dl class="mydl">
        <dd class="mydd">
            <dl class="mydl">
                <dd class="mydd">
                    <img alt="\displaystyle x=x-{\lambda}(x)f(x)\!," class="mwe-math-fallback-image-inline tex"
                         src="https://upload.wikimedia.org/math/0/e/f/0ef28cc915f8b0bfb1a1a4cef18ae2f8.png" />
                </dd>
            </dl>
        </dd>
    </dl>

    <p class="absat">
        если&nbsp;
        <img alt="{\lambda}(x) \neq 0" class="mwe-math-fallback-image-inline tex"
             src="https://upload.wikimedia.org/math/a/2/7/a27f3ad6ac2eac4cf66175a7bceb92c2.png" />
        &nbsp;на исследуемом отрезке. Оптимальным выбором является&nbsp;
        <img alt="\lambda(x) = \frac{1}{f'(x)}" class="mwe-math-fallback-image-inline tex"
             src="https://upload.wikimedia.org/math/f/a/8/fa8b776fa0f1adc92e3cfb89bfef0f02.png" />
        , что приводит к методу Ньютона, который является быстрым, но требует вычисления производной. Если в качестве&nbsp;
        <img alt="\lambda(x)" class="mwe-math-fallback-image-inline tex"
             src="https://upload.wikimedia.org/math/f/e/5/fe5ceafa19fb140aa3fda71faef4296a.png" />
        выбрать константу того же знака, что и производная в окрестности корня, то мы получаем простейший метод итерации.
    </p>

    <h2 class="myh2">
        <strong><span class="mw-headline">Описание</span></strong>
    </h2>

    <hr />
    <p class="absat">
        В качестве функции&nbsp;
        <img alt=" {\lambda}(x)\!" class="mwe-math-fallback-image-inline tex"
             src="https://upload.wikimedia.org/math/b/6/7/b67c004b3d6f26fae22cc48e0a4ea0db.png" />
        &nbsp;берут некоторую постоянную&nbsp;
        <img alt=" {\lambda}_0\!" class="mwe-math-fallback-image-inline tex"
             src="https://upload.wikimedia.org/math/f/d/f/fdf146fd58a2b15c822cbca7a56e5f92.png" />
        , знак которой совпадает со знаком производной&nbsp;
        <img alt=" f'(x)\!" class="mwe-math-fallback-image-inline tex"
             src="https://upload.wikimedia.org/math/1/f/b/1fb2ed0abb69cff24248abd7a8ab1faf.png" />
        &nbsp;в некоторой&nbsp;<a href="https://ru.wikipedia.org/wiki/%D0%9E%D0%BA%D1%80%D0%B5%D1%81%D1%82%D0%BD%D0%BE%D1%81%D1%82%D1%8C" title="Окрестность">
            о
        </a>кресности&nbsp;корня (и, в частности, на отрезке, соединяющем&nbsp;
        <img alt=" x_0\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/1/3/5/13536c90762e27e89de26d1ebba78bae.png" />
        &nbsp;и&nbsp;
        <img alt=" x^*\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/7/f/5/7f51fdcd3894b13930944aa06bee1b25.png" />)
        . Постоянная&nbsp;
        <img alt=" {\lambda}_0\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/f/d/f/fdf146fd58a2b15c822cbca7a56e5f92.png" />
        обычно не зависит и от номера шага. Иногда берут&nbsp;
        <img alt=" {\lambda}_0=\frac{1}{f'(x_0)}" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/6/6/a/66aa03f2519c5561433cd2864d9baa1f.png" />
        &nbsp;и называют этот метод&nbsp;<b>методом одной касательной</b>. Формула итераций оказывается предельно простой:
    </p>

    <dl class="mydl">
        <dd class="mydd">
            <dl class="mydl">
                <dd class="mydd">
                    <img alt="\displaystyle x_{i+1}=x_i-{\lambda}_0f(x_i)\!," class="mwe-math-fallback-image-inline tex"
                         src="https://upload.wikimedia.org/math/2/2/7/2275cf07750b6ab6213e008ee85fd85c.png" />
                </dd>
            </dl>
        </dd>
    </dl>

    <p class="absat">
        и на каждой итерации нужно один раз вычислить значение функции&nbsp;
        <img alt=" f(x)\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/a/7/1/a71c9a0cb0b8e83221630349cf929fad.png" />.
    </p>

    <p class="absat">
        Эта формула, а также требование совпадения знаков&nbsp;
        <img alt=" f'\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/5/b/b/5bb7313ff6fbc4d8e8c787e495ed7625.png" />&nbsp;и&nbsp;
        <img alt=" {\lambda}_0\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/f/d/f/fdf146fd58a2b15c822cbca7a56e5f92.png" />
        &nbsp;легко выводятся из геометрических соображений. Рассмотрим прямую, проходящую через точку&nbsp;
        <img alt=" (x_i;f(x_i))\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/a/9/c/a9c62050ea674195159cf0981aa447ad.png" />
        &nbsp;на графике&nbsp;<img alt=" y=f(x)\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/1/c/d/1cd204ef42246a5bd14f8efc16ffc19d.png" />&nbsp;с угловым коэффициентом&nbsp;<img alt="\tan\nolimits\alpha=\frac{1}\lambda_0\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/f/4/f/f4f78ce9220743e4b0421ecefe40d852.png" />. Тогда уравнением этой прямой будет
    </p>

    <dl class="mydl">
        <dd class="mydd">
            <dl class="mydl">
                <dd class="mydd"><img alt="\displaystyle y=f(x_i)+\frac{1}{{\lambda}_0}(x-x_i).\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/f/3/6/f36f234f1c1ab305e42d27d6f1ec5299.png" /></dd>
            </dl>
        </dd>
    </dl>

    <div class="thumb tright">
        &nbsp;
        <div class="thumbcaption">&nbsp;</div>
    </div>

    <p class="absat">откуда&nbsp;<img alt=" x=x_i-{\lambda}_0f(x_i)=x_{i+1}\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/b/4/d/b4d48a061adca676d7558070eb8f1d85.png" />. Следовательно, эта прямая пересекает ось&nbsp;<img alt=" OX\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/3/5/c/35c69b707b50445839a55640b4e42f48.png" />&nbsp;как раз в точке следующего приближения. Тем самым получаем следующую геометрическую интерпретацию последовательных приближений. Начиная с точки&nbsp;<img alt=" x_0\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/1/3/5/13536c90762e27e89de26d1ebba78bae.png" />, через соответствующие точки графика&nbsp;<img alt=" y=f(x)\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/1/c/d/1cd204ef42246a5bd14f8efc16ffc19d.png" />&nbsp;проводятся прямые с угловым коэффициентом&nbsp;<img alt=" k=\dfrac{1}{{\lambda}_0}\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/9/b/4/9b4031d0b29389d084d1a426c5d8e1a2.png" />&nbsp;того же знака, что производная&nbsp;<img alt=" f'(x_0)\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/8/f/9/8f99fa5c7dcad66c0340ad4c7bd56023.png" />. (Заметим, что, во-первых, значение производной вычислять не обязательно, достаточно лишь знать, убывает функция&nbsp;<img alt=" f(x)\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/a/7/1/a71c9a0cb0b8e83221630349cf929fad.png" />&nbsp;или возрастает; во-вторых, что прямые, проводимые при разных&nbsp;<img alt=" x_i\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/e/4/8/e48507c523906c43cf38cc185d56306e.png" />, имеют один и тот же угловой<a class="mw-redirect" href="https://ru.wikipedia.org/wiki/%D0%A3%D0%B3%D0%BB%D0%BE%D0%B2%D0%BE%D0%B9_%D0%BA%D0%BE%D1%8D%D1%84%D1%84%D0%B8%D1%86%D0%B8%D0%B5%D0%BD%D1%82_%D0%BF%D1%80%D1%8F%D0%BC%D0%BE%D0%B9" style="text-decoration: none; color: rgb(11, 0, 128); background: none;" title="Угловой коэффициент прямой">&nbsp;</a>коэффициент&nbsp;<img alt=" k\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/b/4/c/b4c7435ef87862f11bc2c631951796d6.png" />&nbsp;и, следовательно, параллельны друг другу.) В качестве следующего приближения к корню берётся точка пересечения построенной прямой с осью&nbsp;<img alt=" OX\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/3/5/c/35c69b707b50445839a55640b4e42f48.png" />.</p>

    <p class="absat">На чертеже справа изображены итерации при&nbsp;<img alt=" f'(x)&gt;0\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/4/a/a/4aad416fc523956d38d085e9c2ad6c50.png" />&nbsp;в случае&nbsp;<img alt=" k=\dfrac{1}{{\lambda}_0}&lt;f'(x_0)\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/5/1/b/51ba1ca83e0437d5bcac8149804f5e52.png" />&nbsp;и в случае&nbsp;<img alt=" k=\dfrac{1}{{\lambda}_0}&gt;f'(x_0)\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/b/5/8/b5827b3c2e2b1df0bcab8fe2fd59ce34.png" />. Мы видим, что в первом случае меняющаяся точка&nbsp;<img alt=" x_i\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/e/4/8/e48507c523906c43cf38cc185d56306e.png" />уже на первом шаге &laquo;перепрыгивает&raquo; по другую сторону от корня&nbsp;<img alt=" x^*\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/7/f/5/7f51fdcd3894b13930944aa06bee1b25.png" />, и итерации начинают приближаться к корню с другой стороны. Во втором случае последовательные точки&nbsp;<img alt=" x_i\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/e/4/8/e48507c523906c43cf38cc185d56306e.png" />&nbsp;приближаются к корню, оставаясь всё время с одной стороны от него.</p>

    <h2 class="myh2"><strong>Условие сходимости</strong></h2>
<hr/>
    <p class="absat">Достаточное условие сходимости таково:</p>

    <dl class="mydl">
        <dd class="mydd">
            <dl class="mydl">
                <dd class="mydd">
                    <img alt="\displaystyle \vert{\varphi}'(x)\vert=\vert 1-{\lambda}_0f'(x)\vert\leqslant {\gamma}&lt;1.\!"
                         class="mwe-math-fallback-image-inline tex"
                         src="https://upload.wikimedia.org/math/5/4/8/548f1f245dab1789e6129fbcf79b97b8.png" />
                </dd>
            </dl>
        </dd>
    </dl>

    <p class="absat">Это неравенство может быть переписано в виде</p>

    <dl class="mydl">
        <dd class="mydd">
            <dl class="mydl">
                <dd class="mydd"><img alt="\displaystyle -{\gamma}+1\leqslant {\lambda}_0f'(x)\leqslant {\gamma}+1,\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/7/a/d/7ad65720abff99e1fb4f17b30baa649b.png" /></dd>
            </dl>
        </dd>
    </dl>

    <p class="absat">откуда получаем, что сходимость гарантируется, когда, во-первых,</p>

    <dl class="mydl">
        <dd class="mydd">
            <dl class="mydl">
                <dd class="mydd"><img alt="\displaystyle {\lambda}_0f'(x)&gt;0,\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/2/a/0/2a0e444a6ca0dc79e4ab64a7240491b9.png" /></dd>
            </dl>
        </dd>
    </dl>

    <p class="absat">так как&nbsp;<img alt=" -{\gamma}+1&gt;0\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/a/3/7/a3792393607453ba0770ca98621cbb8d.png" />&nbsp;(тем самым проясняется смысл выбора знака числа&nbsp;<img alt=" {\lambda}_0\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/f/d/f/fdf146fd58a2b15c822cbca7a56e5f92.png" />), а во-вторых, когда&nbsp;<img alt=" {\lambda}_0f'(x)&lt;2\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/7/4/b/74b59092a1bc9189121f0838776a8b34.png" />&nbsp;при всех&nbsp;<img alt=" x\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/3/a/4/3a427d888687d9dfe0f72040d9fa53a4.png" />&nbsp;на всём рассматриваемом отрезке, окружающем корень. Это второе неравенство заведомо выполнено, если</p>

    <dl class="mydl">
        <dd class="mydd">
            <dl class="mydl">
                <dd class="mydd">
                    <img alt="\displaystyle \vert k\vert=\dfrac{1}{\vert{\lambda}_0\vert}&gt;\dfrac{M_1}{2},\!" class="mwe-math-fallback-image-inline tex"
                         src="https://upload.wikimedia.org/math/d/8/4/d84f589c475b0c2b84d80e4ad26a769f.png" />
                </dd>
            </dl>
        </dd>
    </dl>

    <p class="absat">
        где&nbsp;<img alt=" M_1=\max\limits_{x}\vert f'(x)\vert\!" class="mwe-math-fallback-image-inline tex"
                      src="https://upload.wikimedia.org/math/e/6/e/e6e7c7a29e4cf9cab4ed1793f9bbefcb.png" />
        . Таким образом, угловой коэффициент&nbsp;
        <img alt=" k\!" class="mwe-math-fallback-image-inline tex"
             src="https://upload.wikimedia.org/math/b/4/c/b4c7435ef87862f11bc2c631951796d6.png" />
        &nbsp;не должен быть слишком мал по абсолютной величине: при малом угловом коэффициенте уже на первом шаге точка&nbsp;
        <img alt=" x_1\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/f/d/a/fdad14c036fde9f986da06150b87a44c.png" />&nbsp;может выскочить из рассматриваемой окрестности корня&nbsp;<img alt=" x^*\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/7/f/5/7f51fdcd3894b13930944aa06bee1b25.png" />, и сходимости к корню может не быть.
    </p>

<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Посмотреть пример решения
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Метод простой итерации</h4>
            </div>
            <div class="modal-body">
                <p> <b> Задание: </b> методом простой итерации найти меньший положительный корень уравнения Ln(x) + x + 2 = 0.
                </p>
                <p><b>Решение:</b> графически отделяя корни данного уравнения, заключаем, что уравнение имеет действительный корень, лежащего в отрезке [0;0,4]. x≈0,15.
                </p>
                <center>
                    <img src="~/Content/435.jpg" />
                </center>
                <br/>
                Приведём наше уравнение к виду x = e<sup>-2-</sup><sup>x</sup>, или x = ɸ(х), где</p>
                
                <p>ɸ(х) =e<sup>-2-</sup><sup>x</sup>;</p>

                <p>&nbsp;ɸ&rsquo;(х) = -e<sup>-2-</sup><sup>x</sup>;</p>

                <p>Условие max| ɸ&rsquo;(х)&nbsp; |= |- 1/e<sup>2.15</sup>| &lt; 1 выполняется.</p>

                <p>Так как условие | ɸ&rsquo;(х) | &lt;1 выполняется, то итерационный процесс&nbsp; сходится. Взяв в качестве нулевого приближения &nbsp;х<sub>0</sub>=0.15,&nbsp; вычислим последующие приближения по формуле:</p>

                <p>X<sub>n</sub><sub>+1 </sub>=e^(-2-x<sub>n</sub>),&nbsp; пока |x<sub>n</sub><sub>+1 </sub>&ndash; x<sub>n</sub>|&lt;10<sup>-4 </sup>.</p>
             </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
           
            </div>
        </div>
    </div>
</div>


    <h2 class="myh2"><strong>Решение</strong></h2>

    <hr />
    <p>&nbsp;</p>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Пример ввода операторов и функций:
    <br />
    +, -, *, /, ^, %
    <br />
    sqrt, sin, cos, tan, atan, acos, asin, acotan, exp, ln, log, sinh, cosh, tanh, abs, ceil, floor, fac, sfac, round, fpart
    <br />
    !, ==, !=, ||, &&, >, < , >=, <=
    <br />
   Константы
    <br />
    PI (value of System.Math.PI),
    Euler (value of System.Math.E) true (1.0),
    false (0.0),
    infinity (value of Double.PositiveInfinity),
    </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Введите начальные данные</h3>
                        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                    </div>

                    <center>
                        <div class="panel-body">
                            @using (Html.BeginForm("SimpleIteration", "Methods", FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                <p class="texterror">
                                    @Html.ValidationSummary(true, "Вы что-то сделали не так. Возможные проблемы: ")
                            </p>
                                @Html.Label("Введите уравнение")
                                <br />
                                @Html.TextBoxFor(x => x.equation, new { @placeholder = "f(x) = 0" })
                                <br />
                                @Html.LabelFor(x => x.Fuctions)
                                <br />

                                @Html.TextBoxFor(x => x.Fuctions, new { @placeholder = "x = f(x)" })
                                <br />
                                @Html.Label("Введите eps")
                                <br />
                                @Html.TextBoxFor(x => x.Epsilon, new { @placeholder = "0,000001" })
                                <br />
                                @Html.Label("Введите начальное приближение х0")
                                <br />
                                @Html.TextBoxFor(x => x.X0)
                                <br />
                                <br />
                                <div>
                                    <input type="submit" class="btn btn-primary" value="Решить" />
                                </div>
                            }
                        </div>
                    </center>
                                <div class="panel-footer">
                              
                                        @Html.LabelFor(x => x.Result);
                                        @Html.TextBoxFor(x => x.Result)
                    
                                        @if (User.Identity.IsAuthenticated)
                                        {

                                            @*<a href="@Path.GetFullPath(path1)">Скачать решение в .doc</a>*@
    <span class="glyphicon glyphicon-download-alt"></span>   @Html.ActionLink("Скачать решение в .doc", "GetFile", new { path = "MPI.doc" })

    <a style="margin-left: 20px;" href="@ViewBag.Adress" target="_blank"><span class="glyphicon glyphicon-export"></span>Проверить решение</a>
                                        }
</div>

                          
                </div>


