@model MathСalculator.WebUI.Models.SimpleIterationModel
@{
    ViewBag.Title = "SimpleIteration";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<link href="~/Content/simIter.css" rel="stylesheet" />
@*<script src="~/Scripts/bootstrap.js"></script>*@
@{Html.EnableClientValidation();}
@{Html.EnableUnobtrusiveJavaScript();}

<h2 class="myh2"><strong>Метод простой итерации
                    <img alt="smiley" height="23" src="http://www.quackit.com/html/online-html-editor/ckeditor/ckeditor_4.4.1_full/plugins/smiley/images/regular_smile.png" title="smiley" width="23" /></strong></h2>

    <hr />
    <p>
        <span class="absat">это один из простейших численных методов</span>
        <span class="span1">&nbsp;решения уравнений</span>
        <span class="span1">. Метод основан на принципе сжимающего отображения</span>
        <span class="span1">, который применительно к численным методам в общем виде также может называться методом простой итерации или методом последовательных приближений</span>
        <span class="span1">. В частности, для систем линейных алгебраических уравнений существует аналогичный метод итерации</span>
        <span class="span1">.</span>
    </p>

    <h2 class="myh2">&nbsp;</h2>


    <h2 class="myh2"><strong><span class="mw-headline">Идея метода</span></strong></h2>

    <hr />
    <p class="absat">
        Идея метода простой итерации состоит в том, чтобы уравнение&nbsp;
        <img alt=" f(x)=0" class="mwe-math-fallback-image-inline tex"
             src="https://upload.wikimedia.org/math/f/d/0/fd05d8d90456c441c8f10641bd8576bc.png" />&nbsp;привести к эквивалентному уравнению
    </p>

    <dl class="mydl">
        <dd class="mydd">
            <dl class="mydl">
                <dd class="mydd">
                    <img alt="x=\varphi(x)" class="mwe-math-fallback-image-inline tex"
                         src="https://upload.wikimedia.org/math/f/0/2/f02b69b0cb22f5900051cfc46845c093.png" />,
                </dd>
            </dl>
        </dd>
    </dl>

    <p class="absat">
        так, чтобы отображение&nbsp;
        <img alt="\varphi(x)" class="mwe-math-fallback-image-inline tex"
             src="https://upload.wikimedia.org/math/c/c/3/cc37bce6e65d21dc2f4bbe7b1fb396f2.png" />
        &nbsp;было сжимающим. Если это удаётся, то последовательность итераций&nbsp;
        <img alt="x_{i+1}=\varphi(x_i)" class="mwe-math-fallback-image-inline tex"
             src="https://upload.wikimedia.org/math/8/1/b/81b0817a4556c7aa02a200b2ff873fb7.png" />
        &nbsp;сходится. Такое преобразование можно делать разными способами. В частности, сохраняет корни уравнение вида
    </p>

    <dl class="mydl">
        <dd class="mydd">
            <dl class="mydl">
                <dd class="mydd">
                    <img alt="\displaystyle x=x-{\lambda}(x)f(x)\!," class="mwe-math-fallback-image-inline tex"
                         src="https://upload.wikimedia.org/math/0/e/f/0ef28cc915f8b0bfb1a1a4cef18ae2f8.png" />
                </dd>
            </dl>
        </dd>
    </dl>

    <p class="absat">
        если&nbsp;
        <img alt="{\lambda}(x) \neq 0" class="mwe-math-fallback-image-inline tex"
             src="https://upload.wikimedia.org/math/a/2/7/a27f3ad6ac2eac4cf66175a7bceb92c2.png" />
        &nbsp;на исследуемом отрезке. Оптимальным выбором является&nbsp;
        <img alt="\lambda(x) = \frac{1}{f'(x)}" class="mwe-math-fallback-image-inline tex"
             src="https://upload.wikimedia.org/math/f/a/8/fa8b776fa0f1adc92e3cfb89bfef0f02.png" />
        , что приводит к методу Ньютона, который является быстрым, но требует вычисления производной. Если в качестве&nbsp;
        <img alt="\lambda(x)" class="mwe-math-fallback-image-inline tex"
             src="https://upload.wikimedia.org/math/f/e/5/fe5ceafa19fb140aa3fda71faef4296a.png" />
        выбрать константу того же знака, что и производная в окрестности корня, то мы получаем простейший метод итерации.
    </p>

    <h2 class="myh2">
        <strong><span class="mw-headline">Описание</span></strong>
    </h2>

    <hr />
    <p class="absat">
        В качестве функции&nbsp;
        <img alt=" {\lambda}(x)\!" class="mwe-math-fallback-image-inline tex"
             src="https://upload.wikimedia.org/math/b/6/7/b67c004b3d6f26fae22cc48e0a4ea0db.png" />
        &nbsp;берут некоторую постоянную&nbsp;
        <img alt=" {\lambda}_0\!" class="mwe-math-fallback-image-inline tex"
             src="https://upload.wikimedia.org/math/f/d/f/fdf146fd58a2b15c822cbca7a56e5f92.png" />
        , знак которой совпадает со знаком производной&nbsp;
        <img alt=" f'(x)\!" class="mwe-math-fallback-image-inline tex"
             src="https://upload.wikimedia.org/math/1/f/b/1fb2ed0abb69cff24248abd7a8ab1faf.png" />
        &nbsp;в некоторой&nbsp;<a href="https://ru.wikipedia.org/wiki/%D0%9E%D0%BA%D1%80%D0%B5%D1%81%D1%82%D0%BD%D0%BE%D1%81%D1%82%D1%8C" title="Окрестность">
            о
        </a>кресности&nbsp;корня (и, в частности, на отрезке, соединяющем&nbsp;
        <img alt=" x_0\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/1/3/5/13536c90762e27e89de26d1ebba78bae.png" />
        &nbsp;и&nbsp;
        <img alt=" x^*\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/7/f/5/7f51fdcd3894b13930944aa06bee1b25.png" />)
        . Постоянная&nbsp;
        <img alt=" {\lambda}_0\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/f/d/f/fdf146fd58a2b15c822cbca7a56e5f92.png" />
        обычно не зависит и от номера шага. Иногда берут&nbsp;
        <img alt=" {\lambda}_0=\frac{1}{f'(x_0)}" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/6/6/a/66aa03f2519c5561433cd2864d9baa1f.png" />
        &nbsp;и называют этот метод&nbsp;<b>методом одной касательной</b>. Формула итераций оказывается предельно простой:
    </p>

    <dl class="mydl">
        <dd class="mydd">
            <dl class="mydl">
                <dd class="mydd">
                    <img alt="\displaystyle x_{i+1}=x_i-{\lambda}_0f(x_i)\!," class="mwe-math-fallback-image-inline tex"
                         src="https://upload.wikimedia.org/math/2/2/7/2275cf07750b6ab6213e008ee85fd85c.png" />
                </dd>
            </dl>
        </dd>
    </dl>

    <p class="absat">
        и на каждой итерации нужно один раз вычислить значение функции&nbsp;
        <img alt=" f(x)\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/a/7/1/a71c9a0cb0b8e83221630349cf929fad.png" />.
    </p>

    <p class="absat">
        Эта формула, а также требование совпадения знаков&nbsp;
        <img alt=" f'\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/5/b/b/5bb7313ff6fbc4d8e8c787e495ed7625.png" />&nbsp;и&nbsp;
        <img alt=" {\lambda}_0\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/f/d/f/fdf146fd58a2b15c822cbca7a56e5f92.png" />
        &nbsp;легко выводятся из геометрических соображений. Рассмотрим прямую, проходящую через точку&nbsp;
        <img alt=" (x_i;f(x_i))\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/a/9/c/a9c62050ea674195159cf0981aa447ad.png" />
        &nbsp;на графике&nbsp;<img alt=" y=f(x)\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/1/c/d/1cd204ef42246a5bd14f8efc16ffc19d.png" />&nbsp;с угловым коэффициентом&nbsp;<img alt="\tan\nolimits\alpha=\frac{1}\lambda_0\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/f/4/f/f4f78ce9220743e4b0421ecefe40d852.png" />. Тогда уравнением этой прямой будет
    </p>

    <dl class="mydl">
        <dd class="mydd">
            <dl class="mydl">
                <dd class="mydd"><img alt="\displaystyle y=f(x_i)+\frac{1}{{\lambda}_0}(x-x_i).\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/f/3/6/f36f234f1c1ab305e42d27d6f1ec5299.png" /></dd>
            </dl>
        </dd>
    </dl>

    <div class="thumb tright">
        &nbsp;
        <div class="thumbcaption">&nbsp;</div>
    </div>

    <p class="absat">откуда&nbsp;<img alt=" x=x_i-{\lambda}_0f(x_i)=x_{i+1}\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/b/4/d/b4d48a061adca676d7558070eb8f1d85.png" />. Следовательно, эта прямая пересекает ось&nbsp;<img alt=" OX\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/3/5/c/35c69b707b50445839a55640b4e42f48.png" />&nbsp;как раз в точке следующего приближения. Тем самым получаем следующую геометрическую интерпретацию последовательных приближений. Начиная с точки&nbsp;<img alt=" x_0\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/1/3/5/13536c90762e27e89de26d1ebba78bae.png" />, через соответствующие точки графика&nbsp;<img alt=" y=f(x)\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/1/c/d/1cd204ef42246a5bd14f8efc16ffc19d.png" />&nbsp;проводятся прямые с угловым коэффициентом&nbsp;<img alt=" k=\dfrac{1}{{\lambda}_0}\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/9/b/4/9b4031d0b29389d084d1a426c5d8e1a2.png" />&nbsp;того же знака, что производная&nbsp;<img alt=" f'(x_0)\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/8/f/9/8f99fa5c7dcad66c0340ad4c7bd56023.png" />. (Заметим, что, во-первых, значение производной вычислять не обязательно, достаточно лишь знать, убывает функция&nbsp;<img alt=" f(x)\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/a/7/1/a71c9a0cb0b8e83221630349cf929fad.png" />&nbsp;или возрастает; во-вторых, что прямые, проводимые при разных&nbsp;<img alt=" x_i\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/e/4/8/e48507c523906c43cf38cc185d56306e.png" />, имеют один и тот же угловой<a class="mw-redirect" href="https://ru.wikipedia.org/wiki/%D0%A3%D0%B3%D0%BB%D0%BE%D0%B2%D0%BE%D0%B9_%D0%BA%D0%BE%D1%8D%D1%84%D1%84%D0%B8%D1%86%D0%B8%D0%B5%D0%BD%D1%82_%D0%BF%D1%80%D1%8F%D0%BC%D0%BE%D0%B9" style="text-decoration: none; color: rgb(11, 0, 128); background: none;" title="Угловой коэффициент прямой">&nbsp;</a>коэффициент&nbsp;<img alt=" k\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/b/4/c/b4c7435ef87862f11bc2c631951796d6.png" />&nbsp;и, следовательно, параллельны друг другу.) В качестве следующего приближения к корню берётся точка пересечения построенной прямой с осью&nbsp;<img alt=" OX\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/3/5/c/35c69b707b50445839a55640b4e42f48.png" />.</p>

    <p class="absat">На чертеже справа изображены итерации при&nbsp;<img alt=" f'(x)&gt;0\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/4/a/a/4aad416fc523956d38d085e9c2ad6c50.png" />&nbsp;в случае&nbsp;<img alt=" k=\dfrac{1}{{\lambda}_0}&lt;f'(x_0)\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/5/1/b/51ba1ca83e0437d5bcac8149804f5e52.png" />&nbsp;и в случае&nbsp;<img alt=" k=\dfrac{1}{{\lambda}_0}&gt;f'(x_0)\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/b/5/8/b5827b3c2e2b1df0bcab8fe2fd59ce34.png" />. Мы видим, что в первом случае меняющаяся точка&nbsp;<img alt=" x_i\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/e/4/8/e48507c523906c43cf38cc185d56306e.png" />уже на первом шаге &laquo;перепрыгивает&raquo; по другую сторону от корня&nbsp;<img alt=" x^*\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/7/f/5/7f51fdcd3894b13930944aa06bee1b25.png" />, и итерации начинают приближаться к корню с другой стороны. Во втором случае последовательные точки&nbsp;<img alt=" x_i\!" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/e/4/8/e48507c523906c43cf38cc185d56306e.png" />&nbsp;приближаются к корню, оставаясь всё время с одной стороны от него.</p>

  



    <h2 class="myh2"><strong>Решение</strong></h2>

    <hr />
    <p>&nbsp;</p>

<div class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Пример ввода операторов и функций:
    <br />
    +, -, *, /, ^, %
    <br />
    sqrt, sin, cos, tan, atan, acos, asin, acotan, exp, ln, log, sinh, cosh, tanh, abs, ceil, floor, fac, sfac, round, fpart
    <br />
    !, ==, !=, ||, &&, >, < , >=, <=
    <br />
   Константы
    <br />
    PI (value of System.Math.PI),
    Euler (value of System.Math.E) true (1.0),
    false (0.0),
    infinity (value of Double.PositiveInfinity),
    </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Введите начальные данные</h3>
                        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                    </div>
                    <div class="panel-body">
                        <center>
                            @using (Html.BeginForm("SimpleIteration", "Methods", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <p class="texterror">@Html.ValidationSummary(true, "Вы что-то сделали не так. Возможные проблемы: ") 
                            </p>
                               
                                @Html.LabelFor(x => x.Fuctions)
                                <br />

                                @Html.TextBoxFor(x => x.Fuctions, new { @placeholder= "x = f(x)" })
                                <br />
                                @Html.Label("Введите eps")
                                <br />
                                @Html.TextBoxFor(x => x.Epsilon, new { Value = 0.000001 })
                                <br />
                                @Html.Label("Введите начальное приближение х0")
                                <br />
                                @Html.TextBoxFor(x => x.X0, new { Value = 1 })
                                <br />
    <br/>
                                                           <div>
                                    <input type="submit" class="btn btn-primary" value="Решить" />
                                </div>
                            }
                        </center>
                    </div>
                    <div class="panel-footer">
                        @Html.LabelFor(x => x.Result)
                        @Html.TextBoxFor(x => x.Result)

                   @if (User.Identity.IsAuthenticated)
{
    <a href="E:\DocXExample.docx">Скачать решение в .doc</a>
}
                    </div>
                </div>

<script src="~/Scripts/simIter.js"></script>