@model  MathСalculator.WebUI.Models.NumericalIntegration
@{
    ViewBag.Title = "Метод трапеций";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}


<p align="center" style="font-size: 16px; text-decoration: underline; background-color: rgb(255, 255, 255);"><span style="font-size:24px;">Формула трапеций</span></p>



<p align="center" style="line-height: 23.7999992370605px; font-size: 14px; background-color: rgb(255, 255, 255);"><img align="middle" height="50" src="http://www.simumath.net/library/materials/Num_Integr_formula_trap/images/Eqn011.png" width="245" />. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>

<p align="left" style="line-height: 23.7999992370605px; font-size: 14px; background-color: rgb(255, 255, 255);">Это и есть&nbsp;<em>формула трапеций</em>. Правило трапеций &ndash; один из простейших методов численного интегрирования, и хотя погрешности вычислений этим способом больше, чем в других методах, он пользуется большим спросом благодаря своей наглядности и простоте.</p>

<h2 class="myh2"><strong>Вычислить онлайн</strong></h2>

<div class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Пример ввода операторов и функций:
    <br />
    +, -, *, /, ^, %
    <br />
    sqrt, sin, cos, tan, atan, acos, asin, acotan, exp, ln, log, sinh, cosh, tanh, abs, ceil, floor, fac, sfac, round, fpart
    <br />
    !, ==, !=, ||, &&, >, < , >=, <=
    <br />
    Константы
    <br />
    PI (value of System.Math.PI),
    Euler (value of System.Math.E) true (1.0),
    false (0.0),
    infinity (value of Double.PositiveInfinity),
</div>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Введите начальные данные</h3>
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
    </div>
    <div class="panel-body">
        <center>
            @using (Html.BeginForm("Trapezoids", "Methods", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <p class="texterror">
                    @Html.ValidationSummary(true, "Вы что-то сделали не так. Возможные проблемы: ")
                </p>
                @Html.Label("Введите функцию")    <br />
                <span>
                    <img style="max-width: 25px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/German_integral.gif/65px-German_integral.gif" />
                    @Html.TextBoxFor(x => x.Function, new { @placeholder = "x^2*cos(x)" }) dx
                </span>

                <br />
                @Html.Label("Введите начало отрезка [a,b]")
                @Html.TextBoxFor(x => x.A, new { @placeholder = "0", @id = "myInput" })
                <br />
          
                @Html.Label("Введите конец отрезка [a,b]")
                @Html.TextBoxFor(x => x.B, new { @placeholder = "1", @id = "myInput1" })
                <br />

                @Html.LabelFor(x => x.N)
                <br />
                @Html.TextBoxFor(x => x.N, new { @placeholder = "1000" })
                <br />
                <br />
                <div>
                    <input type="submit" class="btn btn-primary" value="Вычислить интеграл" />
                </div>
            }
        </center>
    </div>
    <div class="panel-footer">
        @Html.LabelFor(x => x.Result)
        @Html.TextBoxFor(x => x.Result)

        @if (User.Identity.IsAuthenticated)
        {
            <a style="margin-left: 20px;" href="@ViewBag.Adress" target="_blank">Проверить решение</a>

        }
    </div>
</div>