@model  MathСalculator.WebUI.Models.NumericalIntegration
@{
    ViewBag.Title = "Метод трапеций";
}

<h1 style="font-size: 22px; font-family: Verdana, Arial, Helvetica, sans-serif; padding: 10px 10px 20px; text-align: center; color: rgb(50, 50, 46);">Метод трапеций</h1>

<p class="txt" style="font-size: 14px; color: rgb(50, 50, 46); line-height: 1.5; margin-left: 10px; margin-right: 10px; font-family: Verdana, Arial, Helvetica, sans-serif;"><strong>Метод трапеций</strong>&nbsp;является одним из методов численного интегрирования. Он позволяет вычислять определенные интегралы с заранее заданной степенью точности.</p>

<p class="txt" style="font-size: 14px; color: rgb(50, 50, 46); line-height: 1.5; margin-left: 10px; margin-right: 10px; font-family: Verdana, Arial, Helvetica, sans-serif;">Сначала опишем суть метода трапеций и выведем формулу трапеций. Далее запишем оценку абсолютной погрешности метода и подробно разберем решение характерных примеров. В заключении сравним метод трапеций с методом прямоугольников.</p>

<hr />
<h2 style="font-size: 18px; font-family: Verdana, Arial, Helvetica, sans-serif; padding: 25px 10px; color: rgb(50, 50, 46); text-align: center;">Суть метода трапеций</h2>

<p class="txt" style="font-size: 14px; color: rgb(50, 50, 46); line-height: 1.5; margin-left: 10px; margin-right: 10px; font-family: Verdana, Arial, Helvetica, sans-serif;">Поставим перед собой следующую задачу: пусть нам требуется приближенно вычислить определенный интеграл&nbsp;<img alt="формула" src="http://www.cleverstudents.ru/definite_integral/images/method_of_trapezoids/001.png" style="vertical-align: middle;" />, где подынтегральная функция&nbsp;<i>y=f(x)</i>&nbsp;непрерывна на отрезке<i>[a;b]</i>.</p>

<p class="txt" style="font-size: 14px; color: rgb(50, 50, 46); line-height: 1.5; margin-left: 10px; margin-right: 10px; font-family: Verdana, Arial, Helvetica, sans-serif;">Разобьем отрезок&nbsp;<i>[a;b]</i>&nbsp;на&nbsp;<i>n</i>&nbsp;равных интервалов длины&nbsp;<i>h</i>&nbsp;точками&nbsp;<img alt="формула" src="http://www.cleverstudents.ru/definite_integral/images/method_of_trapezoids/002.png" style="vertical-align: middle;" />. В этом случае шаг разбиения находим как&nbsp;<img alt="формула" src="http://www.cleverstudents.ru/definite_integral/images/method_of_trapezoids/003.png" style="vertical-align: middle;" />&nbsp;и узлы определяем из равенства&nbsp;<img alt="формула" src="http://www.cleverstudents.ru/definite_integral/images/method_of_trapezoids/004.png" style="vertical-align: middle;" />.</p>

<p class="txt" style="font-size: 14px; color: rgb(50, 50, 46); line-height: 1.5; margin-left: 10px; margin-right: 10px; font-family: Verdana, Arial, Helvetica, sans-serif;">Рассмотрим подынтегральную функцию на элементарных отрезках&nbsp;<img alt="формула" src="http://www.cleverstudents.ru/definite_integral/images/method_of_trapezoids/005.png" style="vertical-align: middle;" />.</p>

<p class="txt" style="font-size: 14px; color: rgb(50, 50, 46); line-height: 1.5; margin-left: 10px; margin-right: 10px; font-family: Verdana, Arial, Helvetica, sans-serif;">Возможны четыре случая (на рисунке показаны простейшие из них, к которым все сводится при бесконечном увеличении&nbsp;<i>n</i>):</p>

<div class="pict" style="color: rgb(50, 50, 46); font-family: Verdana, Arial, Helvetica, sans-serif;">
    <p class="pict" style="font-size: 14px; line-height: 1.5; text-align: center;"><img alt="изображение" src="http://www.cleverstudents.ru/definite_integral/images/method_of_trapezoids/pict001.png" style="vertical-align: middle;" /></p>
</div>

<p class="txt" style="font-size: 14px; color: rgb(50, 50, 46); line-height: 1.5; margin-left: 10px; margin-right: 10px; font-family: Verdana, Arial, Helvetica, sans-serif;">На каждом отрезке&nbsp;<img alt="формула" src="http://www.cleverstudents.ru/definite_integral/images/method_of_trapezoids/005.png" style="vertical-align: middle;" />&nbsp;заменим функцию&nbsp;<i>y=f(x)</i>&nbsp;отрезком прямой, проходящей через точки с координатами&nbsp;<img alt="формула" src="http://www.cleverstudents.ru/definite_integral/images/method_of_trapezoids/006.png" style="vertical-align: middle;" />&nbsp;и&nbsp;<img alt="формула" src="http://www.cleverstudents.ru/definite_integral/images/method_of_trapezoids/007.png" style="vertical-align: middle;" />. Изобразим их на рисунке синими линиями:</p>

<div class="pict" style="color: rgb(50, 50, 46); font-family: Verdana, Arial, Helvetica, sans-serif;">
    <p class="pict" style="font-size: 14px; line-height: 1.5; text-align: center;"><img alt="изображение" src="http://www.cleverstudents.ru/definite_integral/images/method_of_trapezoids/pict002.png" style="vertical-align: middle;" /></p>
</div>

<p class="txt" style="font-size: 14px; color: rgb(50, 50, 46); line-height: 1.5; margin-left: 10px; margin-right: 10px; font-family: Verdana, Arial, Helvetica, sans-serif;">В качестве приближенного значения интеграла&nbsp;<img alt="формула" src="http://www.cleverstudents.ru/definite_integral/images/method_of_trapezoids/008.png" style="vertical-align: middle;" />&nbsp;возьмем выражение&nbsp;<img alt="формула" src="http://www.cleverstudents.ru/definite_integral/images/method_of_trapezoids/009.png" style="vertical-align: middle;" />, то есть, примем&nbsp;<img alt="формула" src="http://www.cleverstudents.ru/definite_integral/images/method_of_trapezoids/010.png" style="vertical-align: middle;" />.</p>

<p class="txt" style="font-size: 14px; color: rgb(50, 50, 46); line-height: 1.5; margin-left: 10px; margin-right: 10px; font-family: Verdana, Arial, Helvetica, sans-serif;">Давайте выясним, что означает в геометрическом смысле записанное приближенное равенство. Это позволит понять, почему рассматриваемый метод численного интегрирования называется методом трапеций.</p>

<p class="txt" style="font-size: 14px; color: rgb(50, 50, 46); line-height: 1.5; margin-left: 10px; margin-right: 10px; font-family: Verdana, Arial, Helvetica, sans-serif;">Мы знаем, что площадь трапеции находится как произведение полу суммы оснований на высоту. Следовательно, в первом случае площадь криволинейной трапеции приближенно равна площади трапеции с основаниями&nbsp;<img alt="формула" src="http://www.cleverstudents.ru/definite_integral/images/method_of_trapezoids/011.png" style="vertical-align: middle;" />&nbsp;и высотой&nbsp;<i>h</i>, в последнем случае определенный интеграл&nbsp;<img alt="формула" src="http://www.cleverstudents.ru/definite_integral/images/method_of_trapezoids/008.png" style="vertical-align: middle;" />&nbsp;приближенно равен площади трапеции с основаниями&nbsp;<img alt="формула" src="http://www.cleverstudents.ru/definite_integral/images/method_of_trapezoids/012.png" style="vertical-align: middle;" />&nbsp;и высотой&nbsp;<i>h</i>, взятой со знаком минус. Во втором и третьем случаях приближенное значение определенного интеграла&nbsp;<img alt="формула" src="http://www.cleverstudents.ru/definite_integral/images/method_of_trapezoids/008.png" style="vertical-align: middle;" />&nbsp;равно разности площадей красной и синей областей, изображенных на рисунке ниже.</p>

<div class="pict" style="color: rgb(50, 50, 46); font-family: Verdana, Arial, Helvetica, sans-serif;">
    <p class="pict" style="font-size: 14px; line-height: 1.5; text-align: center;"><img alt="изображение" src="http://www.cleverstudents.ru/definite_integral/images/method_of_trapezoids/pict003.png" style="vertical-align: middle;" /></p>
</div>

<p class="txt" style="font-size: 14px; color: rgb(50, 50, 46); line-height: 1.5; margin-left: 10px; margin-right: 10px; font-family: Verdana, Arial, Helvetica, sans-serif;">Таким образом, мы подошли к&nbsp;<strong>сути метода трапеций</strong>, которая состоит в представлении определенного&nbsp;<img alt="формула" src="http://www.cleverstudents.ru/definite_integral/images/method_of_trapezoids/001.png" style="vertical-align: middle;" />&nbsp;интеграла в виде суммы интегралов вида&nbsp;<img alt="формула" src="http://www.cleverstudents.ru/definite_integral/images/method_of_trapezoids/008.png" style="vertical-align: middle;" />&nbsp;на каждом элементарном отрезке и в последующей приближенной замене&nbsp;<img alt="формула" src="http://www.cleverstudents.ru/definite_integral/images/method_of_trapezoids/010.png" style="vertical-align: middle;" />.</p>

<hr />
<h2 style="font-size: 18px; font-family: Verdana, Arial, Helvetica, sans-serif; padding: 25px 10px; color: rgb(50, 50, 46); text-align: center;">Формула метода трапеций</h2>

<p class="txt" style="font-size: 14px; color: rgb(50, 50, 46); line-height: 1.5; margin-left: 10px; margin-right: 10px; font-family: Verdana, Arial, Helvetica, sans-serif;">В силу пятого&nbsp;<a href="http://www.cleverstudents.ru/definite_integral/definite_integral_properties.html" style="color: rgb(50, 50, 46);">свойства определенного интеграла</a>&nbsp;<img alt="формула" src="http://www.cleverstudents.ru/definite_integral/images/method_of_trapezoids/013.png" style="vertical-align: middle;" />.</p>

<p class="txt" style="font-size: 14px; color: rgb(50, 50, 46); line-height: 1.5; margin-left: 10px; margin-right: 10px; font-family: Verdana, Arial, Helvetica, sans-serif;">
    Если вместо интегралов&nbsp;<img alt="формула" src="http://www.cleverstudents.ru/definite_integral/images/method_of_trapezoids/008.png" style="vertical-align: middle;" />&nbsp;подставить их приближенные значения, то получится<strong>формула метода трапеций</strong>:<br />
    <img alt="формула" src="http://www.cleverstudents.ru/definite_integral/images/method_of_trapezoids/014.png" style="vertical-align: middle;" title="формула метода трапеций" />
</p>

<hr />
<h2 style="font-size: 18px; font-family: Verdana, Arial, Helvetica, sans-serif; padding: 25px 10px; color: rgb(50, 50, 46); text-align: center;">Оценка абсолютной погрешности метода трапеций</h2>

<p class="txt" style="font-size: 14px; color: rgb(50, 50, 46); line-height: 1.5; margin-left: 10px; margin-right: 10px; font-family: Verdana, Arial, Helvetica, sans-serif;">
    <strong>Абсолютная погрешность метода трапеций</strong>&nbsp;оценивается как<br />
    <img alt="формула" src="http://www.cleverstudents.ru/definite_integral/images/method_of_trapezoids/015.png" style="vertical-align: middle;" title="оценка абсолютной погрешности метода трапеций" />.
</p>

<hr />
<h2 style="font-size: 18px; font-family: Verdana, Arial, Helvetica, sans-serif; padding: 25px 10px; color: rgb(50, 50, 46); text-align: center;">Графическая иллюстрация метода трапеций</h2>

<p class="txt" style="font-size: 14px; color: rgb(50, 50, 46); line-height: 1.5; margin-left: 10px; margin-right: 10px; font-family: Verdana, Arial, Helvetica, sans-serif;">Приведем&nbsp;<strong>графическую иллюстрацию метода трапеций</strong>:</p>

<div class="pict" style="color: rgb(50, 50, 46); font-family: Verdana, Arial, Helvetica, sans-serif;">
    <p class="pict" style="font-size: 14px; line-height: 1.5; text-align: center;"><img alt="изображение" src="http://www.cleverstudents.ru/definite_integral/images/method_of_trapezoids/pict004.png" style="vertical-align: middle;" title="графическая иллюстрация метода трапеций" /></p>

    <hr />
    <p>&nbsp;</p>
</div>

<h2 class="myh2"><strong>Вычислить онлайн</strong></h2>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="alert alert-info" role="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Пример ввода операторов и функций:
    <br />
    +, -, *, /, ^, %
    <br />
    sqrt, sin, cos, tan, atan, acos, asin, acotan, exp, ln, log, sinh, cosh, tanh, abs, ceil, floor, fac, sfac, round, fpart
    <br />
    !, ==, !=, ||, &&, >, < , >=, <=
    <br />
    Константы
    <br />
    PI (value of System.Math.PI),
    Euler (value of System.Math.E) true (1.0),
    false (0.0),
    infinity (value of Double.PositiveInfinity),
</div>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Введите начальные данные</h3>
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
    </div>

    <center>
        <div class="panel-body">
            @using (Html.BeginForm("Trapezoids", "Methods", FormMethod.Post, new { @class = "form-horizontal" }))
            {


                <p class="texterror">
                    @Html.ValidationSummary(true, "Вы что-то сделали не так. Возможные проблемы: ")
                </p>
                @Html.Label("Введите функцию")
                <br />
                @Html.TextBoxFor(x => x.Function, new { @placeholder = "x^2*cos(x)" })
                <br />
                @Html.LabelFor(x => x.A)
                <br />

                @Html.TextBoxFor(x => x.A, new { @placeholder = "0" })
                <br />
                @Html.LabelFor(x => x.B)
                <br />
                @Html.TextBoxFor(x => x.B, new { @placeholder = "1" })
                <br />
                <br />
                <br />
                <div>
                    <input type="submit" class="btn btn-primary" value="Вычислить интеграл" />
                </div>
            }


        </div>
    </center>
    <div class="panel-footer">

        @Html.Label("Результат")
        @Html.TextBoxFor(x => x.Result)

        @if (User.Identity.IsAuthenticated)
        {


            <span class="glyphicon glyphicon-download-alt"></span>   @Html.ActionLink("Скачать решение в .doc", "GetFile", new { path = "MPI.doc" })

            <a style="margin-left: 20px;" href="@ViewBag.Adress" target="_blank"><span class="glyphicon glyphicon-export"></span>Проверить решение</a>
        }
    </div>


</div>




<style>
    body {
        background-color: #CECDD5;
    }
</style>

