@model MathСalculator.WebUI.Models.ChangePassword

@{
    ViewBag.Title = "Изменить_пароль";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<center>
    @using (Html.BeginForm("ChangeUsersPassword","Users",FormMethod.Post))
    {
       
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-2">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span class="glyphicon glyphicon-th"></span>
                                Изменить пароль
                            </h3>
                        </div>
                        <p class="text-danger" style="color:#ff0000">
                            @Html.ValidationSummary(true)
                        </p>
                        <div class="panel-body">
                            
                            <div class="row">
                
                    

                                    <div class="form-group">
                                        <p class="text-danger">
                                            @Html.ValidationMessageFor(model => model.OldPassword)
                                            </p>
                                            <div class="input-group">
                                                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                                @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control", @placeholder = "Текущий пароль" })

                                            </div>
</div>
                                    <div class="form-group">
                                        <p class="text-danger">
                                            @Html.ValidationMessageFor(model => model.Password)
                                            </p>
                                            <div class="input-group">
                                                <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
                                                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Новый пароль" })

                                            </div>
</div>
                                    <div class="form-group">
                                        <p class="text-danger">
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                            </p>
                                            <div class="input-group">
                                                <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
                                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Повторите пароль" })

                                            </div>
</div>
                               
                            </div>
</div>
                        <div class="panel-footer">
                            <div class="row">
                            
                                
                                    <button class="btn icon-btn-save btn-success" type="submit">
                                        <span class="btn-save-label"><i class="glyphicon glyphicon-floppy-disk"></i></span>Сохранить
                                    </button>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div>
            @Html.ActionLink("На главную", "Index", "Methods")
        </div>
    }

</center>

@*<style>

    .separator {
        border-right: 1px solid #dfdfe0;
    }

    .icon-btn-save {
        padding-top: 0;
        padding-bottom: 0;
    }

    .input-group {
        margin-bottom: 10px;
    }

    .btn-save-label {
        position: relative;
        left: -12px;
        display: inline-block;
        padding: 6px 12px;
        background: rgba(0, 0, 0, 0.15);
        border-radius: 3px 0 0 3px;


</style>*@
<script src="~/Scripts/imageScript.js"> </script>