@model MathСalculator.WebUI.Models.ChangePassword

@{
    ViewBag.Title = "Изменить_пароль";
}

<center>
    @using (Html.BeginForm("ChangeUsersPassword","Users",FormMethod.Post))
    {
       
        @Html.AntiForgeryToken()
        <div class="container" style="margin-top: 80px; margin-left: 40px;">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-2">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span class="glyphicon glyphicon-th"></span>
                                Изменить пароль
                            </h3>
                        </div>
                        <div class="panel-body">
                            @Html.ValidationSummary(true)
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 separator social-login-box">
                                    <br>
                                    <img alt="" class="img-thumbnail" src="~/Content/lJ5AfkLBb7.jpg">
                                </div>
                                <div style="margin-top: 30px;" class="col-xs-6 col-sm-6 col-md-6 login-box">

                                    <div class="form-group">
                                        @Html.ValidationMessageFor(model => model.OldPassword)
                                        <div class="input-group">
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                            @Html.PasswordFor(model => model.OldPassword, new {@class = "form-control", @placeholder = "Текущий пароль"})

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.ValidationMessageFor(model => model.Password)
                                        <div class="input-group">
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
                                            @Html.PasswordFor(model => model.Password, new {@class = "form-control", @placeholder = "Новый пароль"})

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                        <div class="input-group">
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
                                            @Html.PasswordFor(model => model.ConfirmPassword, new {@class = "form-control", @placeholder = "Повторите пароль"})

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6"></div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <button class="btn icon-btn-save btn-success" type="submit">
                                        <span class="btn-save-label"><i class="glyphicon glyphicon-floppy-disk"></i></span>Сохранить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div>
            @Html.ActionLink("На главную", "Index", "Methods")
        </div>
    }

</center>

<style>

    .separator {
        border-right: 1px solid #dfdfe0;
    }

    .icon-btn-save {
        padding-top: 0;
        padding-bottom: 0;
    }

    .input-group {
        margin-bottom: 10px;
    }

    .btn-save-label {
        position: relative;
        left: -12px;
        display: inline-block;
        padding: 6px 12px;
        background: rgba(0, 0, 0, 0.15);
        border-radius: 3px 0 0 3px;
    }

    body {
        background-image: url('../../Content/fon1.jpg');
        -moz-background-size: 100%; /* Firefox 3.6+ */
        -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%; /* Opera 9.6+ */
        background-size: 100%; /* Современные браузеры */
    }


</style>
<script src="~/Scripts/imageScript.js"> </script>