@model MathСalculator.WebUI.Models.UsersRegister

@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}


    @{Html.EnableClientValidation();}
    @{Html.EnableUnobtrusiveJavaScript();}




<div class="container">
    <div class="row  pad-top">

       
            <div class="panel panel-default">
                <div class="panel-heading">
                    <center> <strong> Регистрация </strong> </center>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Register", "Users", new { ViewBag.ReturnUrl },
        FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "profileForm" }))
                    {
                        <p class="text-danger">@Html.ValidationSummary(true, "You have some problem: ") </p>

                        <br />
    <p class="text-danger">@Html.ValidationMessageFor(m => m.Login)</p>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.TextBoxFor(m => m.Login, new { @placeholder = "Your Login", @class = "form-control",@name ="Login" })
                         
                        </div>
    <p class="text-danger">@Html.ValidationMessageFor(m => m.Email)</p>
                        <div class="form-group input-group">
                            <span class="input-group-addon">&#64</span>
                            @Html.TextBoxFor(m => m.Email, new { @placeholder = "Your Email", @class="form-control" })
                          
                        </div>
    <p class="text-danger">@Html.ValidationMessageFor(m => m.Password)</p>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            @Html.PasswordFor(m => m.Password, new { @placeholder = "Enter Password",@class="form-control" })
                          
                        </div>
    <p class="text-danger">@Html.ValidationMessageFor(m => m.ConfirmPassword)</p>

                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Retype Password",@class="form-control" })
                            
                        </div>

                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-default btn-file">
                                    Открыть&hellip; <input type="file" accept="image/png, image/jpeg, image/gif" name="Image" multiple>
                                </span>
                            </span>
                            <input type="text" class="form-control" readonly>
                            
                        </div>
                        <span class="help-block">
                            Загрузить картинку на аватарку
                        </span>
                        <br />
                        <center>
                            <button type="submit" class="btn btn-primary btn-lg "><span class="glyphicon glyphicon-log-in"></span> Продолжить</button>
                           
                        </center>
                        <hr />
                       
                    }
                   Уже зарегистрированы?
                    <a href="@Url.Action("Login", "Users")">Войти</a>
                </div>

            </div>
        </div>


    </div>



<script src="~/Scripts/imageScript.js"></script>
