@model MathСalculator.WebUI.Models.UsersRegister

@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    @{Html.EnableClientValidation();}
    @{Html.EnableUnobtrusiveJavaScript();}




<div class="container">
    <div class="row  pad-top">

        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <center> <strong> Регистрация </strong> </center>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Register", "Users", new { ViewBag.ReturnUrl },
        FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "profileForm" }))
                    {
    <p class="text-danger">@Html.ValidationMessageFor(m => m.Login)</p>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.TextBoxFor(m => m.Login, new { @placeholder = "Your Login", @class = "form-control",@name ="Login" })
                         
                        </div>
    <p class="text-danger">@Html.ValidationMessageFor(m => m.Email)</p>
                        <div class="form-group input-group">
                            <span class="input-group-addon">&#64</span>
                            @Html.TextBoxFor(m => m.Email, new { @placeholder = "Your Email", @class="form-control" })
                          
                        </div>
    <p class="text-danger">@Html.ValidationMessageFor(m => m.Password)</p>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            @Html.PasswordFor(m => m.Password, new { @placeholder = "Enter Password",@class="form-control" })
                          
                        </div>
    <p class="text-danger">@Html.ValidationMessageFor(m => m.ConfirmPassword)</p>

                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Retype Password",@class="form-control" })
                            
                        </div>

                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-default btn-file">
                                    Открыть&hellip; <input type="file" accept="image/png, image/jpeg, image/gif" name="Image" multiple>
                                </span>
                            </span>
                            <input type="text" class="form-control" readonly>
                            
                        </div>
                        <span class="help-block">
                            Загрузить картинку а аватарку
                        </span>
                        <br />
                        <center>
                            <button type="submit" class="btn btn-primary btn-lg "><span class="glyphicon glyphicon-log-in"></span> Зарегистрироватьcя</button>
                           
                        </center>
                        <hr />
                       
                    }
                   Уже зарегистрированы?
                    <a href="@Url.Action("Login", "Users")">Войти</a>
                </div>

            </div>
        </div>


    </div>
    </div>


<style>    body {
      
        background-image: url('../../Content/fon1.jpg');
        -moz-background-size: 100%; /* Firefox 3.6+ */
        -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%; /* Opera 9.6+ */
        background-size: 100%; /* Современные браузеры */
    }</style>

<script src="~/Scripts/imageScript.js"></script>

