<!DOCTYPE html>

<html>
<head>
    <title></title>

    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width"/>
    <meta name="google-site-verification" content="CRduMzF20yQo77LFEDcSqhKXzqvfVfxT7SzDLBvKvS4" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/simIter.js"></script>
    <link href="~/Content/simIter.css" rel="stylesheet" />
  

    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/offcanvas.css" rel="stylesheet" />
    <script src="~/Scripts/npm.js"></script>
    <script src="~/Scripts/ie-emulation-modes-warning.js"></script>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
   
    

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
                    <a class="navbar-brand" href="@Url.Action("Index", "Methods")">MathСalculator</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="navbar-brand" href="#"><b>@User.Identity.Name</b></a>
                   

                   
                }
            </div>
            <div id="navbar" class="collapse navbar-collapse">
               
             
                    <ul class="nav navbar-nav">
                        <li class="dropdown1">
                            <a href="#" class="dropdown-toggle mytitle" data-toggle="dropdown">Методы решения СЛАУ <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="@Url.Action("Gaus", "Methods")">Метод Гаусса</a></li>
                                <li><a href="#">LU - разложение</a></li>
                                <li><a href="#">Метод квадратного корня</a></li>

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle mytitle" data-toggle="dropdown">Итерационные методы<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="@Url.Action("SimpleIteration", "Iteration")">Метод простой итерации</a></li>
                                <li><a href="@Url.Action("Chord", "Iteration")">Метод хорд</a></li>
                                <li><a href="@Url.Action("Newton", "Iteration")">Метод Ньютона</a></li>
                                <li><a href="@Url.Action("Secants", "Iteration")">Метод секущих</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle mytitle" data-toggle="dropdown">Численное интегрирование<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="@Url.Action("Rectangles", "NumericIntegral")">Метод прямоугольников</a></li>
                                <li><a href="@Url.Action("Trapezoids", "NumericIntegral")">Метод трапеций</a></li>
                                <li><a href="@Url.Action("Simpson", "NumericIntegral")">Метод парабол (метод Симпсона)</a></li>
                                <li><a href="@Url.Action("Method38", "NumericIntegral")">Метод 3/8</a></li>
                                <li class="divider"></li>
                            </ul>
                        </li>

                    </ul>



</div><!-- /.nav-collapse -->

        </div><!-- /.container -->
    </nav><!-- /.navbar -->

    <div class="container">

        @RenderBody()
   
        
    </div><!--/.container-->
<footer class="footer">
    <div class="container">
        <p class="text-muted">Данный сайт находится в разработке.Все пожелания Вы можете мне присылать на <a href="mailto:#">mik.borischewskij@gmail.com</a></p>
    </div>


</footer>
</body>
</html>
<script>
    $(".collapse").collapse('hide');
    if ($(document).height() <= $(window).height())
        $("footer.footer").addClass("navbar-fixed-bottom");
</script>


@*<style>
    color: #428bca; font-size: 18px;
</style>*@
<style>
    .mytitle {
        color: #428bca;
        font-size: 18px;
    }


</style>