@model  MathСalculator.WebUI.Models.NumericalIntegration
@{
    ViewBag.Title = "Метод Симпсона";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<h2 style="font-size: 18px; font-family: Verdana, Arial, Helvetica, sans-serif; padding: 25px 10px; color: rgb(50, 50, 46); text-align: center;">Метод парабол (Симпсона)</h2>
<p style="margin: 0.5em 0px; line-height: 22.3999996185303px; color: rgb(37, 37, 37); font-family: sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">Формулой Симпсона называется интеграл от интерполяционного многочлена второй степени на отрезке&nbsp;<img alt="[a,b]" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/2/c/3/2c3d331bc98b44e71cb2aae9edadca7e.png" style="border: none; vertical-align: middle; margin: 0px; display: inline-block;" />:</p>

<dl style="margin-top: 0.2em; margin-bottom: 0.5em; color: rgb(37, 37, 37); font-family: sans-serif; font-size: 14px; line-height: 22.3999996185303px; background-color: rgb(255, 255, 255);">
    <dd style="line-height: 1.5em; margin-left: 1.6em; margin-bottom: 0.1em; margin-right: 0px;">
        <img alt="
     {\int\limits_a^b
           f(x)
       dx} \approx {\int\limits_{a}^{b}
                   {p_2(x)}
              dx} =
          \frac{b-a}{6}{
              \left(
                 f(a) + 4 f\left(\frac{a+b}{2}\right) + f(b)
              \right)},
" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/7/6/0/760e777ed5771722960900e7f8041d03.png" style="border: none; max-width: 280px;" />
    </dd>
</dl>

<p style="margin: 0.5em 0px; line-height: 22.3999996185303px; color: rgb(37, 37, 37); font-family: sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">где&nbsp;<img alt="f(a)" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/8/a/1/8a17929730159dd1440a93e485de0a45.png" style="border: none; vertical-align: middle; margin: 0px; display: inline-block;" />,&nbsp;<img alt="f((a+b)/2)" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/7/c/a/7ca0d72d7f2e45a05561e60013d758b5.png" style="border: none; vertical-align: middle; margin: 0px; display: inline-block;" />&nbsp;и&nbsp;<img alt="f(b)" class="mwe-math-fallback-image-inline tex" src="https://upload.wikimedia.org/math/4/8/9/4895f8fcb3242a56118a273c423518a3.png" style="border: none; vertical-align: middle; margin: 0px; display: inline-block;" />&nbsp;&mdash; значения функции в соответствующих точках (на концах отрезка и в его середине).</p>



<h2 class="myh2"><strong>Вычислить онлайн</strong></h2>

<div class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Пример ввода операторов и функций:
    <br />
    +, -, *, /, ^, %
    <br />
    sqrt, sin, cos, tan, atan, acos, asin, acotan, exp, ln, log, sinh, cosh, tanh, abs, ceil, floor, fac, sfac, round, fpart
    <br />
    !, ==, !=, ||, &&, >, < , >=, <=
    <br />
    Константы
    <br />
    PI (value of System.Math.PI),
    Euler (value of System.Math.E) true (1.0),
    false (0.0),
    infinity (value of Double.PositiveInfinity),
</div>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Введите начальные данные</h3>
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
    </div>
    <div class="panel-body">
        <center>
            @using (Html.BeginForm("Simpson", "NumericIntegral", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <p class="texterror">
                    @Html.ValidationSummary(true, "Вы что-то сделали не так. Возможные проблемы: ")
                </p>
                @Html.Label("Введите функцию")    <br />
                <span>
                    <img style="max-width: 25px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/German_integral.gif/65px-German_integral.gif" />
                    @Html.TextBoxFor(x => x.Function, new { @placeholder = "x^2*cos(x)" }) dx
                </span>

                <br />
                @Html.Label("Введите начало отрезка [a,b]")
                @Html.TextBoxFor(x => x.A, new { @placeholder = "0", @id = "myInput" })
                <br />
                <br />
                @Html.Label("Введите конец отрезка [a,b]")
                @Html.TextBoxFor(x => x.B, new { @placeholder = "1", @id = "myInput1" })
                <br />

                @Html.LabelFor(x => x.N)
                <br />
                @Html.TextBoxFor(x => x.N, new { @placeholder = "1000" })
                <br />
                <br />
                <div>
                    <input type="submit" class="btn btn-primary" value="Вычислить интеграл" />
                </div>
            }
        </center>
    </div>
    <div class="panel-footer">
        @Html.LabelFor(x => x.Result)
        @Html.TextBoxFor(x => x.Result)

        @if (User.Identity.IsAuthenticated)
        {
            <a style="margin-left: 20px;" href="@ViewBag.Adress" target="_blank">Проверить решение</a>

        }
    </div>
</div>